<app-header></app-header>

<div class="container">
    <div class="row justify-content-center">
        <div *ngFor="let project of projects" class="col-md-6 mt-3">
            <div class="card">
                <img src="assets/imgs/Logo-Licify.jpg" class="card-img-top" alt="Logo-Licify">
                <div class="card-body">
                    <h4 class="card-title">{{ project.nombreProyecto }}</h4>
                    <p class="card-text"><i>Fecha de inicio del proyecto: {{ project.fechaInicial }}</i></p>
                    <p class="card-text"><i>Fecha de cierre del proyecto: {{ project.fechaFinal }}</i></p>
                    <ul class="list-group list-group-flush">
                        <!-- Lista de Ítems del Proyecto con Valores Unitarios -->
                        <form>
                            <div class="form-group">
                                <h4>Ítems del Proyecto</h4>

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Ítem</th>
                                                <th>Valor Unitario Actual</th>
                                                <th>Nuevo Valor Unitario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of project.items">
                                                <td>{{ item.item }}</td>
                                                <td>{{ item.valorUnitarioActual | currency:'COP ':'symbol':'1.0-0' }}</td>
                                                <td>
                                                    <div *ngIf="item.valorUnitarioActual">
                                                    <input type="text" class="form-control" name="nuevoValorItem1"
                                                        placeholder="Nuevo Valor Unitario">
                                                        </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Botón de Enviar Aplicación -->
                            <button type="submit" class="btn btn-primary">Enviar Aplicación</button>
                        </form>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>