<app-header></app-header>

<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5">
            <div class="card">
                <div class="card-header">
                    <h2>
                        Felcidades <u>{{ infoUser.name }}</u> ya iniciaste Sesión en nuestro portal web. Puedes comenzar a crear o aplicar a nuestros proyectos :)
                    </h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tipo de Usuario</h4>
                    <h5 class="card-text">
                        <strong>{{ infoUser.type }}</strong>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>